<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

 
 <context:annotation-config /> 
 

 
<bean id="id1" class="com.data.MyClass" >
  <property name="number" value="23"></property>
  <property name="name" value="John"></property>   
 
</bean>
<!-- Which one gets injected ? -->
<bean id="HandlerBean" class="com.data.Handler" scope="singleton">
 <property name="name" value="JAZZ1"></property>
</bean>

<bean id="HandlerOne" class="com.data.Handler" scope="singleton">
<property name="name" value="BOSS3"></property>
</bean>


</beans>
