<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-2.5.xsd">

 
 <context:annotation-config /> 
 

 
<bean id="id1" class="user.MyClass" >
  <property name="number" value="23"></property>
  <property name="name" value="John"></property>   
 
</bean>
<!--<bean id="HandlerBean" class="user.Handler" scope="singleton">
 <property name="name" value="DoJa"></property>
</bean>

-->
<bean id="HandlerOne" class="user.Handler" scope="singleton">
<property name="name" value="JBOSS"></property>
</bean>

<bean id="data2" class="java.lang.Integer"  scope="prototype" >
      <constructor-arg>
            <value>1100</value>
        </constructor-arg>
</bean>
 
 


</beans>
