<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">	 
   
    <!-- aliasing of  bean1 -->
    <!-- The bean scope values are prototype or singleton -->
    <bean id="bean1" name="bean2,bean3,bean4" class="MyBean" scope="prototype"/>
    
     <bean id="defaultScopeBean" class="MyBean"/>
     <!-- The default scope is singleton -->
    
</beans>
